* {
    margin:0px;
    padding:0px;
    box-sizing: border-box;
}

body{
    font-family: "Roboto", sans-serif;
    background-image: url("maoni.jpg");
   
    background-repeat: no-repeat;
    background-size: cover;
    height: 100%;
    
  
}
.login-form{
    position: absolute;
    top: 50%;
    left: 50%;
    transform:translate(-50%,-50%);
    width:90%;
    max-width:450px;
    background: #ffff;
    padding: 20px 30px;
    box-shadow: 0px 5px 10px rgba(0,0,0,0.1);


}
.login-form .form-title
{
    font-family: "Montserrat",sans-serif;
    text-align: center;
    font-size: 30px;
    font-weight:600;
    margin: 20px 0px 30px;
    color:#111;


}
.login-form .form-input{
    margin: 10px 0px;

}
.login-form .form-input label,
.login-form .captcha label{
    display: block;
    font-size: 15px;
    color: #111;
    margin-bottom: 5px;

}

.login-form .form-input input
{
    width: 100%;
    padding: 10px;
    border: 1px solid #888;
    font-size:15px;
}
.login-form .captcha
{
    margin: 15px 0px;
}

.login-form .captcha .captcha-form
{
    display: flex;

}



.login-form .captcha .captcha-form
{
    display: flex;

}
.login-form .captcha .captcha-form input
{
    width: 100%;
    padding: 8px;
    border: 1px solid #888;
}
.login-form .captcha .captcha-form .captcha-refresh
{
    width: 40px;
    border: none;
    outline: none;
    background: #888;
    color: #eee;
    cursor: pointer;
}
.login-form #tb_num1
{
    margin-top:5px;
    width: 100%;
    padding: 10px;
    border: none;
    outline: none;
    font-size:15px;
    text-transform: uppercase;
    background: #e2e2e2;
    color: #000000;
    cursor: pointer;
}
.login-form #btn_submit
{
    margin-top:5px;
    width: 100%;
    padding: 10px;
    border: none;
    outline: none;
    font-size:15px;
    text-transform: uppercase;
    background: linear-gradient(to right, #ee7724, #d8363a, #dd3675, #b44593);
    color: #fff;
    cursor: pointer;
    border-radius: .3rem;
    box-shadow: 2px 6px 15px#000000;


}
.create_new
{
    float: right;
    
    ;
}
   
.mb-0-me-2
{
 text-align: center
}
.btn-btn-outline-danger
{
    padding:10px;
  
}
#btn_submit:hover
{
    background:#000000;
    color: #4c81ff;
    transition: 0.3s;
    
    
}
